<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VeRewolf Game</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400" rel="stylesheet">
    <link rel="stylesheet" href="style.css" >
  </head>
  <body>
    {{#user}}
      <h2><a href="/logout">Sign out {{username}}</a></h2>
      {{username}}

      <img src="{{_json.profile_image_url}}"/>

    {{/user}}

    <a-scene>
      <a-assets timeout="10">
        {{#each game}}
          <img src="{{image}}" id="avatarPlayer{{@index}}"/>
        {{/each}}
      </a-assets>
      <a-camera id="camera" position='0 2 5' wasd-controls-enabled="false"></a-camera>

    {{#each game}}
      <a-entity
        data-name="{{name}}"
        data-role="{{role}}"
        data-player
        {{#current}}
          data-current
        {{/current}}
        id="player{{@index}}"
        position="{{@index}} 0 -5"
      >
        <a-entity
          geometry="primitive:box; width:1; height: 1; depth: 1;"
          material="color:{{color}}; src:#avatarPlayer{{@index}}"
        ></a-entity>
        <a-entity
          geometry='primitive: sphere; radius: .5'
          position='0 .5 0'
          material="color:{{color}};"
        ></a-entity>
      </a-entity>
    {{/each}}
    </a-scene>

    <script src="aframe.min.js"></script>
    <script src="client.js"></script>
  </body>
</html>
