body {
  font-family: 'Raleway', cursive;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poiret One', cursive;
  margin:0
}

h1 {
  font-size:4em;
}

a {
  color: red
}

a-assets {
  display: none;
}

.avatar{
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
}


hr {
  border:none;
  border-bottom: 1px solid #ddd;
  width: 10%;
  margin: 2.5em auto;
}

ul {
  padding:0
}

li {
  list-style: none;
  margin: 1em;
}
