doctype html
html(lang="en")
  head
  body
    a-scene(
      fog='type: linear; far: 10; color: #010104'
    )
      a-entity(
        geometry='primitive: box; width: 2; height: 2; depth: 2;'
        color='red'
      )

    script(
      src='aframe.min.js'
    )
